/* App.css */
@media (max-width: 800px) {
    .ant-layout-sider {
      position: fixed;
      z-index: 1000;
    }
  
    .ant-layout-sider-trigger {
      display: block;
    }
  
    .ant-layout {
      padding-left: 80px;
    }
  
    .ant-layout-content {
      padding: 16px;
      
    }
  }
  
  @media (min-width: 600) {
    .ant-layout-sider {
      position: relative;
    }
  
    .ant-layout-sider-trigger {
      display: none;
    }
  
    .ant-layout {
      padding-left: 200px;
    }
  
    .ant-layout-content {
      padding: 24px;
    }
  }
  